@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

#title {
    font-family: 'helvetica-bold', sans-serif; /* or any font you like */
    font-size: 3rem;                            /* adjust size */
    color: rgb(45, 48, 71);                     /* dark blue */
    margin-bottom: 2rem;                        /* space between title and buttons */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);  /* optional glow effect */
  }
  


* {
  box-sizing: border-box;
}

body {
  background-color: rgb(244, 236, 123);
  font-family: 'helvetica-bold', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rgb(97, 232, 225); 
  border-radius: 50px;
  border: none;
  color: rgb(234, 242, 227);
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}


  
